* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-size: 24px;
}

/* Style the header */
.header {
    grid-area: header;
    background-color: #f1f1f1;
    padding: 25px;
    text-align: center;
    font-size: 30px;
}

/* The grid container */
.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'left middle middle middle middle right'
        'footer footer footer footer footer footer';
    /* grid-column-gap: 10px; - if you want gap between the columns */
}

.left,
.middle,
.right {
    padding: 10px;
    /* Should be removed. Only for demonstration */
}

/* Style the left column */
.left {
    grid-area: left;
    max-width: 300px;
}

/* Style the middle column */
.middle {
    grid-area: middle;
}

/* Style the right column */
.right {
    grid-area: right;
    max-width: 400px
}

/* Style the footer */
.footer {
    grid-area: footer;
    background-color: #f1f1f1;
    padding: 5px;
    text-align: center;
}

/* Style terminal */
.terminal {
    background-color:#2e3036; 
    color: #0eb057; 
    padding: 2px 6px 2px 6px;
}

/* Style source code */
.source {
    background-color:#2513aa; 
    color: #eeedf4;
    padding: 2px 6px 2px 6px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 500px) {
    .grid-container {
        grid-template-areas:
            'header header header header header header'
            'left left left left left left'
            'middle middle middle middle middle middle'
            'right right right right right right'
            'footer footer footer footer footer footer';
    }
}